body, #error, #results  {
    color: white;
    background-color: #424242;
}

#bill-amount input {
    height: 25px;
    font-size: 20pt;
}

#bill-amount, #tip-percent {
    margin-bottom: 20px;
}

fieldset, #error, #results, #info {
    margin-left: auto;
    margin-right: auto;
}

#error, #results, #info {
    border: 2px solid white;
    margin-top: 20px;
    width: 70%;
}

#error, h1, #results, #submit, #info {
    text-align: center;
}

fieldset, h1 {
    font-size: 25pt;
}

fieldset {
    background-color: #8A0651;
    width: 40%;
}

#info {
    width: 60%;
    overflow: hidden;
}

#info div {
    float: left;
}

.info-headers {
    text-decoration: underline;
}

input[type=radio] {
    width: 10%;
    height: 2em;
}

#split-bill input, .split-word {
    font-size: 15pt;
}

#split-bill input {
    height: 20px;
}

#tip-percent input{
    margin-top: 30px;
}